<div id="facilities" style="margin-top:45px; height:100%; width:100%;">
  <div class="row">
    <div class="large-9 push-4 columns" style="margin-top:20px">
      <% @therapists.each do |therapist| %>
        <%= therapist.name %>
      <% end %>
    </div>
  </div>
</div>
