<div id="articles" style="margin-top:45px; height:100%; width:100%;">
  <div class="row">
    <div class="large-9 push-4 columns" style="margin-top:20px">
    </div>
    <div class="large-3 pull-10 columns">
      <ul class="side-nav">
        <li><%= link_to "Facility Upload", admin_facilities_path %></li>
        <li><%= link_to "List Therapists", admin_therapists_path %></li>
      </ul>
    </div>
  </div>
</div>
