<footer class="row" style="width:100%">
	<div class="large-12 columns">
	  <hr/>
	  <div class="row">
      <div class="footer-information">
	      <p>© Ian Andersen 2014-2015.</p> |
        <p><%= link_to "Terms and Conditions", asset_path("otd-terms-and-conditions.pdf") %></p> |
        <p><%= link_to "Privacy Statement", asset_path("otd-privacy-statement.pdf") %>
      </div>
	  </div>
	</div>
</footer>
