<footer style='margin-top:20px'>
  <div class="row text-left">
  	<div class="col-xs-12 col-xs-offset-1">
      © Ian Andersen 2014-2015. |
      <%= link_to "Terms and Conditions", asset_path("otd-terms-and-conditions.pdf") %> |
      <%= link_to "Privacy Statement", asset_path("otd-privacy-statement.pdf") %>
    </div>
	</div>
</footer>
