<div class="large-9 columns" style="margin-top:45px">

  <h3>Get in Touch!</h3>
  <p>I'd love to hear your feedback.</p>

  <div class="section-container tabs" data-section>
    <section class="section">
      <h5 class="title"><a href="#panel1">Contact Me</a></h5>
      <div class="content" data-slug="panel1">
        <form>
          <div class="row collapse">
            <div class="large-2 columns">
              <label class="inline">Your Name</label>
            </div>
            <div class="large-10 columns">
              <input type="text" id="yourName" placeholder="Jane Smith">
            </div>
          </div>
          <div class="row collapse">
            <div class="large-2 columns">
              <label class="inline"> Your Email</label>
            </div>
            <div class="large-10 columns">
              <input type="text" id="yourEmail" placeholder="jane@smithco.com">
            </div>
          </div>
          <label>What's up?</label>
          <textarea rows="4"></textarea>
          <button type="submit" class="radius button">Submit</button>
        </form>
      </div>
    </section>
    <section class="section">
      <h5 class="title"><a href="#panel2">Developed By</a></h5>
      <div class="content" data-slug="panel2">
        <ul class="large-block-grid-5">
          <li><a href="https://www.linkedin.com/profile/view?id=89002667"><img src="https://media.licdn.com/media/p/8/005/07b/1a5/2bc96ea.jpg">Ian Andersen, MA</a></li>
        </ul>
      </div>
    </section>
  </div>
</div>
