<% title "Free Therapist Listing" %>
<head>
  <meta name="Description" content="Find a therapist near you. Free for clients. Free for therapists.">
</head>
<div class="full" style='height:650px'>
    <div class="text-center">
      <div class="col-md-6 col-xs-12">
        <div class="spacer-top-25">
          <%= link_to 'Find a Therapist', therapists_path, class: 'well-transparent-6 well-lg btn btn-lg text-size-40' %>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="spacer-top-25">
          <%= link_to 'Find a Facility', facilities_path, class: 'well-transparent-6 well-lg btn btn-lg text-size-40' %>
        </div>
      </div>
    </div>
  <div class="text-center">
    <div class="col-xs-12">
      <div class="spacer-top-15">
        <p class="lead well-transparent-3">Free For Clients. Free For Therapists.</p>
      </div>
    </div>
  </div>
</div>
