<head>
	<script src="/assets/jquery.stellar.min.js" type="text/javascript"></script>
</head>
<style type="text/css">
	.dock {
		background-image: url(assets/boat-dock.jpg);
	}
	.mindfulness {
		background-image: url(assets/mindfulness.jpg);
	}
	.mindfulness2 {
		background-image: url(assets/mindfulness2.jpg);
	}
</style>

<script>
$(function(){
	$.stellar({
		horizontalScrolling: false,
		verticalOffset: 40
	});
});
</script>

<div class="photo dock" data-stellar-background-ratio="0.5">
	<span>
		<div class="panel" id="home-search">
			<div id="home-search-text">
				Find a Mental Health Facility
				<div class='large-12 columns'>
					<div class="lighter">
						<%= form_for :facilities, :url => url_for(:controller => 'facilities', :action => 'index'), :html => {:class => "rounded", :id => 'search-form'}, method: :get do |f| %>
							<%= f.text_field :params, :placeholder => "State", style:"display:inline-block" %>
							<%= f.submit "Search", class: 'search-submit-index' %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</span>
</div>
<div class="photo mindfulness" data-stellar-background-ratio="0.5">
	<span>
		<div class='panel' id="home-textfield-two">
			<h1 id="home-textfield-two-text">Free for Clients.<br/>  Free for Therapists.</h1>
		</div>
	</span>
</div>
<div class="photo mindfulness2" data-stellar-background-ratio="0.5"><span></span></div>
