<div id="sign-in-container">
  <div class="large-10 push-1 columns" style="margin-top:20px">
    <h1 id="sign-in-header">Sign In</h1><hr>
    <div class='large-8 push-2 columns scalable dark text-center'>
<!--       <a href='http://twitter.com/jm3'><i class='raster'></i><b class='divider'></b><span class='twitter-login'>Log in with Twitter</span></a> -->
      <%= link_to "<i class='raster'></i><b class='divider'></b><span class='twitter-login'>Sign in with Twitter</span>".html_safe, user_omniauth_authorize_path(:twitter), class: 'twitter-auth'%>
    </div>
      <h1 class='or-divider push-5 columns'>Or</h1>
    <div class="push-4 columns">
      <%= link_to "Sign-In <i class='icon-chevron-right'></i>".html_safe, new_user_session_path, class: 'sign-in button' %>
      <%= link_to "Sign-Up <i class='icon-chevron-right'></i>".html_safe, new_user_registration_path, class: 'sign-in button' %>
    </div>
  </div>
</div>
