<div class="row" style="margin-top:45px; height:50%">
  <div class="col-xs-6 col-xs-offset-3">
    <h2>Import Facility List</h2>
    <%= form_tag admin_import_facilities_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV" %>
    <% end %>
  </div>
</div>
