<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank You For Signing Up to be Listed on Open Therapist Directory</h1>
    <p>Dear <%= @name %>,</p>
    <p>Thank you for signing up to be listed on Open Therapist Directory. An administrator must approve your listing before it can be viewed. You will be notified as soon as the verification process is complete.</p>
    <p>Thank You!</p>
  </body>
</html>
