.sort {
	width: 130px;
	background: #FFF;
	color: gray;
	font: bold 11px "Helvetica";
	padding: 12px;
	text-decoration: none;

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.sort:after {
	/*float:right;*/
	background: gray;
	color: #FFF;
	content: ">";
	display: inline-block;
	font: bold 11px "Georgia";
	height: 25px;
	line-height: 25px;
	margin-left: 10px;
	text-align: center;
	width: 25px;

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.sort:hover {
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#home-search {
	width:50%;
	height:350px;
	margin:auto;
	background-color:transparent;
	border:0px;
}

#home-search-text {
	text-align:center;
	color:white;
	opacity:1.0;
}

#home-textfield-two {
	width:50%;
	height:350px;
	margin:auto;
	background-color:transparent;
	border:0px;
}

#home-textfield-two-text {
	text-align:center;
	color:white !important;
	opacity:1.0;
}

.search {
}

.rounded {
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}

.lighter {
	padding:40px 40px;
	width:100%;
}

#home-search-field {
	margin-left:40px;
	width:100%;
}

.fixed {
	margin-bottom: 45;
}

select {
	width:50px !important;
}

.top-bar {
	background: #433034 !important;
}

.top-bar a {
	background: #433034 !important;
}

.top-bar a:hover {
	background: #302628 !important;
}

.facility-container {
	margin-top:45px;
}

html, body, #map-canvas {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.flash#error {
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
	text-align: left;
}

.flash#alert {
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
	text-align: left;
}

.flash#notice {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
	text-align: left;
}

#accordion .ui-accordion-content {
    max-height: 400px !important;
    overflow-y: auto;
}

#logo {
	text-align: center;
	margin:auto;
}

#mc_embed_signup {
	background:#fff;
	clear:left;
	font:20px Helvetica, Arial,sans-serif;
}

#mc_embed_signup .button {clear:both; background-color: #aaa; border: 0 none; border-radius:4px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; font-weight: bold; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding:0; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;}
#mc_embed_signup .button:hover {background-color:#777;}
#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}
#mc_embed_signup .clear {clear:none; display:inline;}
#mc_embed_signup label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold;}
/*#mc_embed_signup input.email {display:block; padding:8px 0; width:58%; min-width:130px;}*/
#mc_embed_signup input.button {min-width:90px;}

#mc_embed_signup div#mce-responses {top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
/*#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}*/

#signup {
	text-align: center;
	margin:auto;
	width:500px;
}
