.fixed {
	margin-bottom: 45;
}

select {
	width:50px !important;
}

.top-bar {
	background: #433034 !important;
}

.top-bar a {
	background: #433034 !important;
}

.top-bar a:hover {
	background: #302628 !important;
}

.facility-container {
	margin-top:45px;
}

html, body, #map-canvas {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
