.therapist-thumb {
  float: left;
  display: inline-block;
  margin-right: 10px;
}

.bottom-items {
  position: absolute;
  bottom: 0;
  left: 180px;
}

.list {
  font-family:sans-serif;
  margin:0;
}

.list > li > p {
  margin: 0px;
}

.list > li > h3 > .phone {
  font-weight: bold;
  float: right;
  display:inline-block;
}

.list > li > .description {
  font-weight: lighter;
}

.list > li {
  display:block;
  background-color: #eee;
  padding:5px;
  padding-bottom:0px;
  box-shadow: inset 0 1px 0 #fff;
  height: 160px;
}

.list > li:hover {
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.avatar {
  max-width: 150px;
}

img .otdlogo {
  max-width: 100%;
}

h3 {
  font-size: 18px !important;
  margin:0 0 0.3rem;
  font-weight: normal;
  font-weight:bold;
}

.search {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
}

input:focus {
  outline:none;
  border-color:#aaa;
}

.filter {
  padding-bottom: 10px;
}

.pagination li {
  display:inline-block;
  padding:5px;
}

.btn {
  color: #ccc;
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  border: solid 1px #666;
  display: block;
  float: left;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  cursor: hand;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: #fafafa;
}
