<div id="therapists-listing" style="margin-top:65px; height:100%; width:100%;">
  <div class="row">
    <div class="large-6 pull-1 columns">
      <table class="therapists-listing">
        <tr><td><b>Name</b></td><td><b>Verified?</b></td></tr>
        <% @therapists.each do |therapist| %>
          <tr>
            <td><%= link_to therapist.full_name, admin_therapist_path(therapist) %></td>
            <td><%= therapist.verified %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
