<div class="row" style="height: 50%">
  <div class="col-xs-6 col-xs-offset-1">
    <table class="table">
      <tr><td><b>Name</b></td><td><b>Verified</b></td><td><b>Active</b></td><td><b>Email</b></td></tr>
        <tr>
          <td><%= link_to @therapist.full_name, therapist_path(@therapist) %></td>
          <td><%= check_box_tag 'verified', @therapist.id , @therapist.verified, :class => "task-check" %></td>
          <td><%= check_box_tag 'active', @therapist.id , @therapist.active, :class => "task-check" %></td>
          <td><%= mail_to @therapist.email %></td>
        </tr>
    </table>
  </div>
</div>
